@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?dnqlef');
  src:  url('fonts/icomoon.eot?dnqlef#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?dnqlef') format('truetype'),
    url('fonts/icomoon.woff?dnqlef') format('woff'),
    url('fonts/icomoon.svg?dnqlef#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-call:before {
  content: "\e911";
}
.icon-icon-arrow-down:before {
  content: "\e900";
}
.icon-icon-arrow-left-circle:before {
  content: "\e901";
}
.icon-icon-arrow-left:before {
  content: "\e902";
}
.icon-icon-arrow-right-circle:before {
  content: "\e903";
}
.icon-icon-arrow-right:before {
  content: "\e904";
}
.icon-icon-arrow-up:before {
  content: "\e905";
}
.icon-icon-bulb:before {
  content: "\e906";
}
.icon-icon-calculator:before {
  content: "\e907";
}
.icon-icon-close:before {
  content: "\e908";
}
.icon-icon-consultant:before {
  content: "\e909";
}
.icon-icon-error:before {
  content: "\e90a";
}
.icon-icon-form-error:before {
  content: "\e90b";
}
.icon-icon-hand-money:before {
  content: "\e90c";
}
.icon-icon-hands-card:before {
  content: "\e90d";
}
.icon-icon-man-practise:before {
  content: "\e90e";
}
.icon-icon-search:before {
  content: "\e90f";
}
.icon-icon-tick:before {
  content: "\e910";
}
