@-webkit-keyframes wiggle {
  0% {opacity:1}
  50% {opacity:.5}
    100% {opacity:1}
}
@keyframes wiggle {
  0% {transform: rotate(0deg);}
  50% {transform: rotate(15deg);}
    100% {transform: rotate(0deg);}
}

@-webkit-keyframes slideInBottom {
  0% {  @include translate(0,100%); opacity:0;}
  100% {  @include translate(0,0%); opacity:1;}
}
@keyframes slideInBottom {
  0% {  @include translate(0,100%); opacity:0;}
  100% {  @include translate(0,0%); opacity:1;}
}

@-webkit-keyframes slideInRight {
  0% {  @include translate(100%, 0); opacity:0;}
  100% {  @include translate(0,0%); opacity:1;}
}
@keyframes slideInRight {
  0% {  @include translate(100%, 0); opacity:0;}
  100% {  @include translate(0,0%); opacity:1;}
}

@-webkit-keyframes runnerIn {
  0% {  @include translate(-20%, 0); opacity:0;}
  100% {  @include translate(0%, 0); opacity:1;}
}
@keyframes runnerIn {
  0% {  @include translate(-20%, 0); opacity:0;}
  100% {  @include translate(0%, 0); opacity:1;}
}
@-webkit-keyframes scrollPulse {
  0% {  max-width:0%; opacity:0;}
  100% { max-width:100%; opacity:1;}
}
@keyframes scrollPulse {
  0% {  max-width:0%; opacity:0;}
  25% { max-width:100%; opacity:1;}
    50% { max-width:100%; opacity:1;}
    100% { max-width:0%; opacity:0;}
}



@keyframes heartBeat {

  0% {
    transform: scale(1) translateX(-50%);
  }
  20% {
    transform: scale(1.1) translateX(-44%);
  }
  30% {
    transform: scale(1) translateX(-50%);
  }
  40% {
    transform: scale(1.1) translateX(-44%);
  }
  80% {
    transform: scale(1) translateX(-50%);
  }
  100% {
    transform: scale(1) translateX(-50%);
  }
}
@keyframes heartBeatBig {

  0% {
    transform: scale(1.5) translateX(0%);
  }
  20% {
    transform: scale(1.7) translateX(0%);
  }
  30% {
    transform: scale(1.5) translateX(0%);
  }
  40% {
    transform: scale(1.7) translateX(0%);
  }
  80% {
    transform: scale(1.5) translateX(0%);
  }
  100% {
    transform: scale(1.5) translateX(0%);
  }
}

@keyframes heartBeat2 {
  0% {
    transform: scale(1) translateX(-50%) translateY(0%);
  }
  100% {
    transform: scale(1.4) translateX(-33%) translateY(4%);
  }
}

@keyframes heartBeat2Big {
  0% {
    transform: scale(1.5) translateX(0%) translateY(0%);
  }
  100% {
    transform: scale(2) translateX(0%) translateY(1%);
  }
}

@keyframes fadeInTop {
  0% {opacity:0; @include translate(0%,30px); visibility:hidden;}
  100% {opacity:1; @include translate(0%,0%); visibility:visible;}
}


@keyframes popIn {
  0% {transform: translateY(100%) scale(.6); opacity:0;}
  100% {transform: translateY(0%) scale(1);opacity:1;}
}
@-webkit-keyframes popIn {
  0% {transform: translateY(100%) scale(.6); opacity:0;}
  100% {transform: translateY(0%) scale(1);opacity:1;}
}

@keyframes popInCanvas {
  0% {transform: translateX(-50%) translateY(100%) scale(.6);}
  100% {transform: translateX(-50%) translateY(0%) scale(1);}
}
@-webkit-keyframes popInCanvas {
  0% {transform: translateX(-50%) translateY(100%) scale(.6);}
  100% {transform: translateX(-50%) translateY(0%) scale(1);}
}
