///* montserrat-300 - latin-ext */
//@font-face {
//  font-family: 'Montserrat-300';
//  font-style: normal;
//  font-weight: 300;
//  font-display: swap;
//  src: url('../../assets/fonts/Montserrat/montserrat-v15-latin-ext-300.eot'), /* IE9 Compat Modes */
//  url('../../assets/fonts/Montserrat/montserrat-v15-latin-ext-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//  url('../../assets/fonts/Montserrat/montserrat-v15-latin-ext-300.woff2') format('woff2'), /* Super Modern Browsers */
//  url('../../assets/fonts/Montserrat/montserrat-v15-latin-ext-300.woff') format('woff'), /* Modern Browsers */
//  url('../../assets/fonts/Montserrat/montserrat-v15-latin-ext-300.ttf') format('truetype'), /* Safari, Android, iOS */
//  url('../../assets/fonts/Montserrat/montserrat-v15-latin-ext-300.svg#Montserrat') format('svg'); /* Legacy iOS */
//}
///* montserrat-regular - latin-ext */
//@font-face {
//  font-family: 'Montserrat-400';
//  font-style: normal;
//  font-weight: 400;
//  font-display: swap;
//  src: url('../../assets/fonts/Montserrat/montserrat-v15-latin-ext-regular.eot'), /* IE9 Compat Modes */
//  url('../../assets/fonts/Montserrat/montserrat-v15-latin-ext-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//  url('../../assets/fonts/Montserrat/montserrat-v15-latin-ext-regular.woff2') format('woff2'), /* Super Modern Browsers */
//  url('../../assets/fonts/Montserrat/montserrat-v15-latin-ext-regular.woff') format('woff'), /* Modern Browsers */
//  url('../../assets/fonts/Montserrat/montserrat-v15-latin-ext-regular.ttf') format('truetype'), /* Safari, Android, iOS */
//  url('../../assets/fonts/Montserrat/montserrat-v15-latin-ext-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
//}
///* montserrat-500 - latin-ext */
//@font-face {
//  font-family: 'Montserrat-500';
//  font-style: normal;
//  font-weight: 500;
//  font-display: swap;
//  src: url('../../assets/fonts/Montserrat/montserrat-v15-latin-ext-500.eot'), /* IE9 Compat Modes */
//  url('../../assets/fonts/Montserrat/montserrat-v15-latin-ext-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//  url('../../assets/fonts/Montserrat/montserrat-v15-latin-ext-500.woff2') format('woff2'), /* Super Modern Browsers */
//  url('../../assets/fonts/Montserrat/montserrat-v15-latin-ext-500.woff') format('woff'), /* Modern Browsers */
//  url('../../assets/fonts/Montserrat/montserrat-v15-latin-ext-500.ttf') format('truetype'), /* Safari, Android, iOS */
//  url('../../assets/fonts/Montserrat/montserrat-v15-latin-ext-500.svg#Montserrat') format('svg'); /* Legacy iOS */
//}
///* montserrat-600 - latin-ext */
//@font-face {
//  font-family: 'Montserrat-600';
//  font-style: normal;
//  font-weight: 600;
//  font-display: swap;
//  src: url('../../assets/fonts/Montserrat/montserrat-v15-latin-ext-600.eot'), /* IE9 Compat Modes */
//  url('../../assets/fonts/Montserrat/montserrat-v15-latin-ext-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//  url('../../assets/fonts/Montserrat/montserrat-v15-latin-ext-600.woff2') format('woff2'), /* Super Modern Browsers */
//  url('../../assets/fonts/Montserrat/montserrat-v15-latin-ext-600.woff') format('woff'), /* Modern Browsers */
//  url('../../assets/fonts/Montserrat/montserrat-v15-latin-ext-600.ttf') format('truetype'), /* Safari, Android, iOS */
//  url('../../assets/fonts/Montserrat/montserrat-v15-latin-ext-600.svg#Montserrat') format('svg'); /* Legacy iOS */
//}
///* montserrat-700 - latin-ext */
//@font-face {
//  font-family: 'Montserrat-700';
//  font-style: normal;
//  font-weight: 700;
//  font-display: swap;
//  src: url('../../assets/fonts/Montserrat/montserrat-v15-latin-ext-700.eot'), /* IE9 Compat Modes */
//  url('../../assets/fonts/Montserrat/montserrat-v15-latin-ext-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//  url('../../assets/fonts/Montserrat/montserrat-v15-latin-ext-700.woff2') format('woff2'), /* Super Modern Browsers */
//  url('../../assets/fonts/Montserrat/montserrat-v15-latin-ext-700.woff') format('woff'), /* Modern Browsers */
//  url('../../assets/fonts/Montserrat/montserrat-v15-latin-ext-700.ttf') format('truetype'), /* Safari, Android, iOS */
//  url('../../assets/fonts/Montserrat/montserrat-v15-latin-ext-700.svg#Montserrat') format('svg'); /* Legacy iOS */
//}
//@font-face {
//  font-family: 'Montserrat-800';
//  font-style: normal;
//  font-weight: 800;
//  font-display: swap;
//  src: url('../../assets/fonts/Montserrat/montserrat-v15-latin-ext-800.eot'), /* IE9 Compat Modes */
//  url('../../assets/fonts/Montserrat/montserrat-v15-latin-ext-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//  url('../../assets/fonts/Montserrat/montserrat-v15-latin-ext-800.woff2') format('woff2'), /* Super Modern Browsers */
//  url('../../assets/fonts/Montserrat/montserrat-v15-latin-ext-800.woff') format('woff'), /* Modern Browsers */
//  url('../../assets/fonts/Montserrat/montserrat-v15-latin-ext-800.ttf') format('truetype'), /* Safari, Android, iOS */
//  url('../../assets/fonts/Montserrat/montserrat-v15-latin-ext-800.svg#Montserrat') format('svg'); /* Legacy iOS */
//}
///* montserrat-900 - latin-ext */
//@font-face {
//  font-family: 'Montserrat-900';
//  font-style: normal;
//  font-weight: 900;
//  font-display: swap;
//  src: url('../../assets/fonts/Montserrat/montserrat-v15-latin-ext-900.eot'), /* IE9 Compat Modes */
//  url('../../assets/fonts/Montserrat/montserrat-v15-latin-ext-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//  url('../../assets/fonts/Montserrat/montserrat-v15-latin-ext-900.woff2') format('woff2'), /* Super Modern Browsers */
//  url('../../assets/fonts/Montserrat/montserrat-v15-latin-ext-900.woff') format('woff'), /* Modern Browsers */
//  url('../../assets/fonts/Montserrat/montserrat-v15-latin-ext-900.ttf') format('truetype'), /* Safari, Android, iOS */
//  url('../../assets/fonts/Montserrat/montserrat-v15-latin-ext-900.svg#Montserrat') format('svg'); /* Legacy iOS */
//}
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//@font-face {
//  font-family: 'Kaushan-Script';
//  font-style: normal;
//  font-weight: 400;
//  font-display: swap;
//  src: url('../../assets/fonts/Kaushan_Script/KaushanScript-Regular.ttf'), /* IE9 Compat Modes */
//}
//
//@font-face {
//  font-family: 'Charm';
//  font-style: normal;
//  font-weight: 400;
//  font-display: swap;
//  src: url('../../assets/fonts/Charm/Charm-Regular.ttf'), /* IE9 Compat Modes */
//}
//