/*
 Selector generator
 @access public
 @param {String} property - Css Property
 @param {String} min - Minimum value in px
 @param {String} max - Maximum value in px
 @requires $property, $min, $max
*/
@mixin selector($property, $min, $max,$base_min: null, $base_max:null , $mul: null) {


	@if($base_min == 0 or $base_min == null){
		$base_min: 1280;
	}
	@else{
		$base_min: strip-unit($base_min)
	}
	@if($base_max == 0 or $base_max == null){
		$base_max: 1920;
	}
	@else{
		$base_max: strip-unit($base_max)
	}

	#{$property}: #{calcby($min,$max,$base_min,$base_max,$mul)};

	@if($base_min == 1280 and $base_max == 1920){
		@media (min-width: #{ ($base_max + 1) * 1px }) {
			#{$property}: #{strip-unit($max) * 1px};
		}
		@media (max-width: #{ ($base_min - 1) * 1px }) {
			#{$property}: #{strip-unit($min) * 1px};
		}
	}

}


/*
 Responsive breakpoint manager
 @access public
 @param {String} $breakpoint - Breakpoint
 @requires $breakpoints
*/
@mixin respond-to($breakpoint) {
	$raw-query: map-get($breakpoints, $breakpoint);

	@if $raw-query {
		$query: if(
			type-of($raw-query) == 'string',
			unquote($raw-query),
			inspect($raw-query)
		);
		@media #{$query} {
			@content;
		}
	} @else {
		@error 'No value found for `#{$breakpoint}`. '
         + 'Please make sure it is defined in `$breakpoints` map.';
	}
}


///
/// Replaces the first occurence of the string with the replacement string
///
/// @author Eduardo Boucas
///
/// @param {String}   $search  - The value being searched for
/// @param {String}   $replace  - The replacement string
/// @param {String}   $subject  - The string being replaced on
///
/// @return {String | Null}
///
@function str-replace-first($search, $replace, $subject) {
  $search-start: str-index($subject, $search);
  @if $search-start == null {
     @return $subject;
  }
  $result: str-slice($subject, 0, $search-start - 1);
  $result: $result + $replace;
  $result: $result + str-slice($subject, $search-start + str-length($search));
  @return $result;
}
///
/// Casts a number to a string
///
/// @author Hugo Giraudel
///
/// @param {String}   $string  - Number to be parsed
///
/// @return {List | Null}
///
@function to-number($string) {
  // Matrices
  $strings: '0' '1' '2' '3' '4' '5' '6' '7' '8' '9';
  $numbers: 0 1 2 3 4 5 6 7 8 9;
  // Result
  $result: 0;
  $divider: 0;
  $minus: false;
  // Looping through all characters
  @for $i from 1 through str-length($string) {
    $character: str-slice($string, $i, $i);
    $index: index($strings, $character);

    @if $character == '-' {
      $minus: true;
    }

    @else if $character == '.' {
      $divider: 1;
    }
    @else {
      @if type-of($index) != 'number' {
        $result: if($minus, $result * -1, $result);
        @return _length($result, str-slice($string, $i));
      }
      $number: nth($numbers, $index);
      @if $divider == 0 {
        $result: $result * 10;
      }
      @else {
        // Move the decimal dot to the left
        $divider: $divider * 10;
        $number: $number / $divider;
      }
      $result: $result + $number;
    }
  }
  @return if($minus, $result * -1, $result);
}
