* {
  font-family: 'Montserrat-500', sans-serif;
  font-style: normal;
  font-size:15px;
  line-height: 1.5em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:$black;
}

[class*="btn-"] {cursor: pointer}



img {max-width: 100%; height: auto}