// TRANSITION
@mixin transition($args) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

// TRANSFORM
@mixin transform($transforms) {
  -webkit-transform: $transforms;
  -moz-transform: $transforms;
  transform: $transforms;
}
// Rotate
@mixin rotate ($deg) {
  @include transform(rotate(#{$deg}deg));
}
// Scale
@mixin scale($scale) {
  @include transform(scale($scale));
}
// Translate
@mixin translate ($x, $y) {
  @include transform(translate($x, $y));
}

@mixin flex($flex,$jc,$ai) {
  display: flex;
  -webkit-box-pack: $jc;
  -webkit-justify-content: $jc;
  -moz-box-pack: $jc;
  -ms-flex-pack: $jc;
  justify-content: $jc;
  -webkit-box-align: $ai;
  -webkit-align-items: $ai;
  -moz-box-align: $ai;
  -ms-flex-align: $ai;
  align-items: $ai
}

@mixin flexWrap($wrap) {
  -webkit-flex-wrap: $wrap;
  -ms-flex-wrap: $wrap;
  flex-wrap: $wrap;
}

@mixin justifyContent($jc) {
  -webkit-box-pack: $jc;
  -webkit-justify-content: $jc;
  -moz-box-pack: $jc;
  -ms-flex-pack: $jc;
  justify-content: $jc;
}

@mixin alignItems($ai) {
  -webkit-box-align: $ai;
  -webkit-align-items: $ai;
  -moz-box-align: $ai;
  -ms-flex-align: $ai;
  align-items: $ai;
}

@mixin absolute($left, $top, $translateLeft, $translateTop)   {
  position: absolute;
  left: $left;
  top: $top;
  transform: translate(-$translateLeft, -$translateTop);    //najpierw lewa potem gora
}
@mixin button($width, $height, $border, $borderRadius, $borderColor, $background, $color, $lineHeight, $fontSize)  {
  width: $width;
  height: $height;
  border: $border solid $borderColor;
  border-radius: $borderRadius;
  background: $background;
  color: $color;
  line-height: $lineHeight;
  font-size: $fontSize;
  text-align: center;
}

@mixin before() {
  content: ''; position: absolute; width: 100%; height: 100%; left: 0; top: 0;
}

@mixin resetTextarea() {
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
  white-space: nowrap;
  overflow-x: scroll;
}




@mixin convertPStoCSS($font,$val) {
  //$val = AV
  font-size: $font;
  letter-spacing: ($val/1000)+em;
  line-height: $font*1.2;
}

@mixin convertPStoCSS2($font,$val) {
  //$val = AL
  font-size: $font;
  letter-spacing: ($val/1000)+em;
  //letter-spacing: ($val/200)+em;
  line-height: $font + (($val/2) * .95);
  //line-height: $font*1.9;
}
