//COLORS
$cyan:#00EBFF;
$pink:#FF4577;
$pink--light:#fee0e2;
$grey: #8E9198;
$yellow: #ffc402;
$grey--dark:#363233;
$grey--light: #F2F3F7;
$grey--gospel: #AAAAAA;
$grey--bootstrap: #dee2e6;
$white: #ffffff;
$black: #111111;
$facebook: #4267B2;
$facebook-hover: #4267f2;
$youtube: #FA0000;
$youtube-hover: #b81313;
$green: #598c57;
$red: #B32B00;


$maxWidth: 2560px;
$grid: calcby(90px, 130px,0,null);

$breakpoints: (
    'extra-small': (max-width: 576px),
    'small': (min-width: 576px),
    'medium': (min-width: 768px),
    'large': (min-width: 992px),
    'extra-large': (min-width: 1200px),
    'desktop': (min-width: 1920px),
    'desktop-wide': (max-width: 2560px),
);

/*
extra small -> col-
small -> col-sm
medium -> col-md
large -> col-lg
extra-large -> col-xl
 */